
<html>
<head>
<title>MyBookSite</title>
</head>
<body>







</style>
    
<body>

  <h1 style="background-color:Gray;">WELCOME</h1>
  
  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

body {
  background-image: url('https://ak.picdn.net/shutterstock/videos/11373440/thumb/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
     
     body {
  background-color: rgb(159, 176, 182);
    }
    


  
    h1 {
   font-size: 70px;
    }
    h1 {text-align: center;}
    h2 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    form {text-align: right;}

    </style>
    </head>
    <body>
    
    <h2>Booksite</h2>
    
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-container">
      <a href="book" class="w3-button w3-black">books
      </a>
      <a href="add_book" class="w3-button w3-black">add book
      </a>
      <a href="search" class="w3-button w3-black">search book
      </a>
     
    </div>
    
    
    
  
    </html>
    











</body>
</html>








